<div class="navbar">
  <div class="top">
    <mat-icon (click)="toggleSideBar()">close</mat-icon>
  </div>
  <!--  <div class="user">-->
  <!---->
  <!--  </div>-->
  <div class="menu-item">
    <button mat-button [routerLink]="['/home']" (click)="toggleSideBar()">
      <mat-icon>home</mat-icon>
      <span>Accueil</span>
    </button>
    <button mat-button>
      <mat-icon>menu</mat-icon>
      <span>Paramètres</span>
    </button>
    <button mat-button>
      <mat-icon>menu</mat-icon>
      <span>A propos</span>
    </button>
    <button mat-button>
      <mat-icon>menu</mat-icon>
      <span>Nous contacter</span>
    </button>
    <button mat-button>
      <mat-icon>menu</mat-icon>
      <span>Se déconnecter</span>
    </button>
  </div>

</div>
